%h2 ××診断
#desc
  %p ××診断とはあなたの××適正度を診断するツールになります。設問数は合計×問となります。
%p ××診断を開始します。
%p.add_sentense 下の設問に「はい」「いいえ」で回答してください。
.question
  %h3 Q1:○○するときは××である
.btn_field
  %button はい
  %button いいえ

#caution
  %p ××診断は必ずしも・・・
  
#fmenu_field
  %a{href:""}ヘルプ ｜
  %a{href:""}運営社情報 
 
 