%h2 診断コンテンツリスト
%ul
  %li
    %a{href:"/cms/new"}2012/05/06 診断タイトルが入ります。
  %li
    %a{href:""}2012/05/06 診断タイトルが入ります。
  %li
    %a{href:""}2012/05/06 診断タイトルが入ります。
  %li
    %a{href:""}2012/05/06 診断タイトルが入ります。
  %li
    %a{href:""}2012/05/06 診断タイトルが入ります。
  %li
    %a{href:""}2012/05/06 診断タイトルが入ります。
  %li
    %a{href:""}2012/05/06 診断タイトルが入ります。
  %li
    %a{href:""}2012/05/06 診断タイトルが入ります。
  %li
    %a{href:""}2012/05/06 診断タイトルが入ります。
  %li
    %a{href:""}2012/05/06 診断タイトルが入ります。
  %li
    %a{href:""}2012/05/06 診断タイトルが入ります。
	
#page_nation
  %a{href:""}前へ ｜
  %a{href:""}次へ