= partial_haml 'cms/pictures/form'
- @pictures.each do |picture|
  - picture_url = picture.uploader_url
  %p.thumb{ 'picture-url' => picture_url }
    = img_tag(picture_url)
    %br
    = picture.caption
    %br
    = a_tag('挿入する', '#', class: :insert)
