= partial_haml 'cms/pictures/form'
- @pictures.each do |picture|
  - picture_url = picture.uploader_url
  %p.thumb{ 'picture-url' => picture_url }
    %img{ src: picture_url }
    %br
    = picture.caption
    %br
    %a.insert{ href: '#' }
      挿入する
